.logoImg{
  width: 10rem;
  pointer-events: none;
}

.error-text{
  margin-top:-10px;
  margin-bottom:10px;
}


.bg-img{
  /* background-image: url(44.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}