<div class="row rounded-lg shadow " style="height: 79vh;">
  <!-- Users box-->
  <div class="col-5 px-0">
    <div class="bg-white">

      <div class="bg-gray px-4 py-2 bg-dark">
        <p class="h5 mb-0 py-1">Universities</p>
      </div>
      <div class="messages-box">
        <div class="list-group rounded-0">
          <a class="list-group-item list-group-item-action  rounded-0 "
            [ngClass]="university.uid === selectedUser.uid ? 'active text-white': 'text-secondary'"
            *ngFor="let university of universities; let i= index" (click)="getChat(university)">
            <div class="media"><img src="{{university?.photoURL}}" alt="user" width="50" class="rounded-circle">
              <div class="media-body ml-4">
                <div class="d-flex align-items-center justify-content-between mb-1">
                  <h6 class="mb-0">{{university?.displayName}}</h6>
                  <small class="small font-weight-bold">{{university.role | titlecase}}</small>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Chat Box-->

  <div class="col-7 px-0 ">
    <div class="px-4 py-5 chat-box bg-white overflow-auto mess" style="max-height: 75vh;">

      <div *ngFor="let chat of chatMessages?.reverse()" class="media w-50 mb-3 "
        [ngClass]="currentUser?.uid == chat?.sender ? ' ml-auto' : ''">
        <div class="media-body" [ngClass]="currentUser?.uid == chat?.sender? '': ' mb-3'">
          <img *ngIf="!(currentUser?.uid == chat?.sender)" [src]="chat.reciever.photoURL" alt="user" width="50"
            class="rounded-circle">

          <div class=" rounded py-2 px-3 mb-2" [ngClass]="currentUser?.uid == chat?.sender? 'bg-primary': 'bg-light'">
            <p class="text-small mb-0 " [ngClass]="currentUser?.uid == chat?.sender? 'text-white': 'text-muted'">
              {{chat.text}}</p>
          </div>
          <p class="small text-muted">{{chat.time.seconds*1000 |date:'shortTime'}} | {{chat.time.seconds*1000 |date}}
          </p>
        </div>
      </div>


    </div>
    <!-- Typing area -->
    <form #f="ngForm" (ngSubmit)="writeChat()" class="bg-light">
      <div class="input-group">
        <input type="text" placeholder="Type a message" aria-describedby="button-addon2" [(ngModel)]="text"
          [ngModelOptions]="{standalone: true}" class="form-control rounded-0 border-0 py-4 bg-light">
        <div class="input-group-append">
          <button id="button-addon2" type="submit" [disabled]='!text' class="btn btn-link"> <i
              class="fa fa-paper-plane"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
