<div class="hold-transition login-page">
    <div class="login-box">
        <div class="register-logo">
            <img class="logoImg" src="../../assets/thinktacLogo.png" alt="Thinktac logo">
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

                <form #form="ngForm">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            [class.is-invalid]="email.invalid && email.touched" name="email" #email="ngModel"
                            [(ngModel)]="userEmail" placeholder="Email" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="error-text" *ngIf="email.errors && email.touched">
                        <small class="text-danger" *ngIf="email.errors.required">*Email is required</small>
                        <small class="text-danger" *ngIf="email.errors.pattern && !email.errors.required">Please enter a
                            valid email</small>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" (click)="ForgotPassword()" class="btn btn-primary btn-block">Reset
                                password</button>
                        </div>
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a href="" [routerLink]="['/login']">Login</a>
                </p>
                <p class="mb-0">
                    <a href="" [routerLink]="['/register']" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>