<nav class="navbar navbar-dark bg-dark justify-content-between">
  <div class="container">
    <a class="navbar-brand"> GYAAN <span style="font-weight: 600;">NETWORK</span> </a>
    <form class="form-inline">
      <button class="btn btn-danger" type="submit" (click)="authService.logout()">Logout</button>
    </form>
  </div>

</nav>
<div class="jumbotron mb-0" style="min-height: 92.5vh;">
  <div class="container" *ngIf="user.blocked % 2 === 0; else blocked">
    <router-outlet></router-outlet>
  </div>

  <ng-template #blocked>
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-danger"> <i class="fas fa-lock"></i> </h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>
          <p>
            Looks like your account has been disabled by the admin.<br>
            Contact your admin.
          </p>
        </div>
      </div>
      <!-- /.error-page -->

    </section>
  </ng-template>
</div>
